.favoritos-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  height: 100vh;
  background-color: var(--soft-white);
  padding: 0 1rem;
  margin-top: 6.43rem;
}

.favoritos-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  align-items: center;
  justify-content: flex-start;
}

.favoritos-title img {
  width: 1.88rem;
  height: 1.88rem;
}

.favoritos-title h1 {
  font-family: var(--font-coolvetica);
  font-weight: 400;
  font-size: 1.25rem;
  color: var(--moss-green);
}

.favoritos-title span {
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 0.88rem;
  color: var(--moss-green);
}

.favoritos-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}