.input-container {
  width: 100%;
  position: relative;
}

.input-wrapper {
  width: 100%;
  position: relative;
}

.char-counter {
  text-align: right;
  font-size: 12px;
  color: #666;
  margin-top: 4px;
  width: 100%;
}

.char-counter.limit-reached {
  color: #ff4444;
}

/* Estilos para o input */
.input-wrapper input {
  width: 100%;
  border: none;
  font-family: var(--font-poppins);
  font-weight: var(--font-regular);
  font-size: 0.88rem;
  color: #474747;
  background: transparent;
  padding: 0;
}

.input-wrapper input::placeholder {
  text-align: left;
  color: #474747;
  opacity: 1;
}