.menu-dicas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  height: 100vh;
  background-color: var(--soft-white);
  padding: 0 1rem;
  margin-top: 6.43rem;
}

.search-menu-dicas {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 0;
}

.search-menu-dicas div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap:  1rem;
}

.search-menu-dicas div h1 {
  font-family: var(--font-coolvetica);
  font-size: 1.5rem;
  font-weight: 400;
  color: #01402F;
}

.search-menu-dicas div img {
  width: 4.81rem;
  height: 5rem;
}

nav {
  width: 100%;
}

.buttons-dicas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.button-nav-dicas {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: 0.5rem 1rem;
  width: 22.4rem;
  height: 5.94rem;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: none;
  background-color: var(--light-natural-green);
  font-family: var(--font-poppins);
  font-size: var(--poppins-text-button);
  font-weight: 500;
}


.button-nav-dicas div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.button-nav-dicas h3 {
  font-family: var(--font-coolvetica);
  font-weight: var(--font-regular);
  font-size: var(--poppins-text);
}

.button-nav-dicas span {
  font-family: var(--font-poppins);
  font-weight: var(--font-regular);
  font-size: var(--poppins-text-label);
  text-align: start;
}

.button--nav-dicas:active {
  border: 1px solid #01402F;
  background-color: var(--soft-white);
}

.button-nav-dicas img {
  width: 3.13rem;
  height: 3.13rem;
}