.pagina-notificacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  height: 100vh;
  background-color: var(--soft-white);
  padding: 0;
  margin-top: 6.43rem;
}

.titulo-notificacoes {
  font-family: var(--font-coolvetica);
  font-weight: 400;
  font-size: 1.25rem;
  color: #011c15;
}

.notificacoes-botoes-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 1rem;
  gap: 1rem;
}

.notificacoes-botao {
  width: 6.88rem;
  height: 2.5rem;
  padding: 0.38rem 0.63rem;
  border: 1px solid #999999;
  border-radius: 8px;
  font-family: var(--font-poppins);
  color: #011c15;
  font-weight: 500;
  font-size: 0.88rem;
  background-color: transparent;
}

.notificacoes-botao.ativo {
  background-color: #01402f;
  color: #f9fafb;
}

.notificacoes-section {
  width: 100%;
}

.notificacoes-section ul {
  width: 100%;
  padding: 0 1rem;
}

.notificacoes-section ul li {
  width: 100%;
  height: 6.38rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0;
  gap: 0.75rem;
}

.titulo-container-notificacao {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hora-botao-deletar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hora-botao-deletar button {
  width: 1.25rem;
  height: 1.25rem;
  border: none;
  background-color: transparent;
}

.hora-botao-deletar span {
  font-family: "Inter";
  font-weight: 400;
  font-size: 0.81rem;
  text-align: right;
}

.pagina-notificacoes li:not(:last-child) {
  border-bottom: 1px solid #999999;
}
