.pagina-forum {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  height: 100vh;
  background-color: var(--soft-white);
  padding: 0 1rem;
  margin-top: 6.43rem;
}

.forum-titulo {
  font-family: var(--font-coolvetica);
  font-weight: 400;
  font-size: 1.25rem;
  color: #011c15;
}

.forum-botoes-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.forum-botao {
  width: 6.88rem;
  height: 2.5rem;
  padding: 0.38rem 0.63rem;
  border: 1px solid #999999;
  border-radius: 8px;
  font-family: var(--font-poppins);
  color: #011c15;
  font-weight: 500;
  font-size: 0.88rem;
  background-color: transparent;
}

.forum-botao.ativo {
  background-color: #01402f;
  color: #f9fafb;
}

.forum-section {
  width: 100%;
}

.pagina-forum ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.forum-section ul li {
  width: 100%;
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  gap: 0.75rem;
  background-color: #d2edbe;
  border-radius: 12px;
}

.titulo-container-solicitacao {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}

.titulo-container-solicitacao h3 {
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 0.87rem;
  color: #011c15;
}

.status-solicitacao {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.status-solicitacao img {
  width: 4rem;
  height: 1rem;
  background-color: transparent;
}

.status-solicitacao span {
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 0.88rem;
  text-align: center;
  white-space: nowrap;
}

.button-nova-solicitacao {
  width: 20.62rem;
  height: 3rem;
  padding: 0 1rem;
  border-radius: 12px;
  font-family: var(--font-poppins);
  color: #F9FAFB;
  font-weight: 500;
  font-size: 1rem;
  background-color: #01402f;
  text-align: center;
  line-height: 3rem;
}
