.search-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.95rem;
  border-radius: 12px;
  width: 100%;
  height: 3rem;
  background-color: #E3E6E1;
  padding: 0.62rem;
}
.search-bar button {
  border: none;
  background-color: transparent;
  width: 1.04rem;
  align-items: center;
}

.search-bar button img {
  width: 1.56rem;
}

.search-bar input {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 0.5rem;
  background-color: transparent;
  font-family: var(--font-poppins);
  font-size: var(--poppins-text-label);
  font-weight: var(--font-regular);
}