.pontos-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  height: 100vh;
  background-color: var(--soft-white);
  padding: 0;
  margin-top: 6.43rem;
}

.pontos-title {
  font-family: var(--font-coolvetica);
  font-weight: 400;
  font-size: 1.25rem;
  color: #011C15;
}

.positions-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pontos-map {
  height: 11.56rem;
  width: 100%;
}

.pontos-icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.pontos-icons div {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.search-location {
width: 100%;
padding: 0 1rem;
display: flex;
flex-direction: column;
gap: 1rem;
}

.pontos-subtitle {
  font-family: var(--font-coolvetica);
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
  color: #011C15;
}

.pontos-search {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.pontos-list {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

